header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    color: #000000;
    font-family: 'Almarai', sans-serif;
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
  }
  
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #fdfdfddf;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
  
    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
  
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }
  
    nav.active .menu {
      display: block;
      background-color: #1E1E1E;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  
    nav.active .menu li {
      margin: 10px 20px;
    }
  
    nav.active .menu a {
      font-size: 24px;
    }
  }