* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    display: block; 
    object-fit: cover;
}

/* STYLING AF FONTE */
h1 {
    font-family: 'Almarai', sans-serif;
    font-size: 8.5rem;
}

h2 {
    font-family: 'Almarai', sans-serif;
    font-size: 4.6rem;
    word-spacing: 100px;
}

h3 {
    font-family: 'PT Mono', monospace;
    font-weight: lighter;
    font-size: 2rem;
}

h4 {
    font-family: 'Almarai', sans-serif;
    font-size: 4rem;
}

h5 {
    font-family: 'PT Mono', monospace;
    font-weight: lighter;
    font-size: 1.2rem;
}

p {
    font-family: 'Almarai', sans-serif;
    text-align: justify;
}

.projekter {
    margin-left: 10rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

@media (min-width: 800px) {
/* FORSIDE */
.grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 13rem;
    margin-left: 2rem;
}

.grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-left: 10rem;
    object-fit: cover;
    gap: 100px;
    margin-bottom: 5rem;
}

.grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    object-fit: cover;
    gap: 100px;
    margin-bottom: 15rem;
}

.projekter3 {
    text-decoration: none;
}



/* PROJEKTER */
.projekter_tekst {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 8rem;
}

.h3 {
    margin-left: 10rem;
    margin-bottom: 1.8rem;
}

.grid_web, .grid_uxui, .grid_animation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
    gap: 100px;
}

/* denne står alene da der skal mere afstand til footeren */
.grid_indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 15rem;
    gap: 100px;
}

/* OM */
.grid_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-left: 5rem;
    object-fit: cover;
    gap: 90px;
    margin-bottom: 10rem;
}

/*
.link_om {
    text-align: center;
    font-family: 'Almarai', sans-serif;
    color: rgba(0, 0, 0, 0.806);
    margin-top: 2rem;
}
*/
  
a {
    color: rgba(0, 0, 0, 0.806);
    font-family: 'Almarai', sans-serif;
    margin-top: 2rem;
}
}

/* FOOTER */
.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5rem;
    margin-bottom: 3rem;
    gap: 40rem;
}

.footer_menu {
    word-spacing: 30px;
}

