* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    display: block; 
    object-fit: cover;
}

/* Ramme om billeder */
.border {
    border: 2px solid #e2e2e2;
}

/* STYLING AF FONTE */
h1 {
    font-family: 'Almarai', sans-serif;
    font-size: 8.5rem;
}

h2 {
    font-family: 'Almarai', sans-serif;
    font-size: 4.6rem;
    word-spacing: 100px;
}

h3 {
    font-family: 'PT Mono', monospace;
    font-weight: lighter;
    font-size: 2rem;
}

h4 {
    font-family: 'Almarai', sans-serif;
    font-size: 3rem;
}

h5 {
    font-family: 'PT Mono', monospace;
    font-weight: lighter;
    font-size: 1.2rem;
}

h6 {
    font-family: 'PT Mono', monospace;
    font-weight: lighter;
    font-size: 3rem;
}

p {
    font-family: 'Almarai', sans-serif;
    text-align: justify;
}

.h4_overskrift {
    margin-left: 10rem;
    margin-bottom: 1rem;
}

.h4_overskrift2 {
    margin-left: 10rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}


@media (min-width: 800px) {
/* FOOTER */
.footer_menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.footer_menu li {
    margin-left: 20px;
}

/* FORSIDE */
.grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 13rem;
    margin-left: 2rem;
}

.grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-left: 10rem;
    object-fit: cover;
    gap: 100px;
    margin-bottom: 5rem;
}

.grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    object-fit: cover;
    gap: 100px;
    margin-bottom: 15rem;
    text-decoration: none;
}

.no_underline {
    text-decoration: none;
}

/* PROJEKTER */
.projekter_tekst {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-bottom: 6rem;
}

.h3 {
    margin-left: 10rem;
    margin-bottom: 1.8rem;
}

.grid_web, .grid_uxui, .grid_animation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 8rem;
    gap: 100px;
}

/* denne står alene da der skal mere afstand til footeren */
.grid_indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 15rem;
    gap: 100px;
}

/* OM */
.grid_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-left: 10rem;
    gap: 130px;
    margin-bottom: 10rem;
}

.selvportraet2 {
    width: 65%;
}

.CV {
    line-height: 1.5;
}

.grid_om_tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    gap: 130px;
    margin-bottom: 5rem;
}

.grid_billede {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8rem;
    align-items: center;
    gap: 175px;
}

.grid_kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 175px;
    margin-bottom: 15rem;
}

.wordspacing {
    word-spacing: 5px;
    font-weight:900;
}
  
a {
    color: rgba(0, 0, 0, 0.806);
    font-family: 'Almarai', sans-serif;
    margin-top: 2rem;
}

/* TEMA 2 - WEB */
.tema_overskrift {
    display: grid;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 30rem;
    margin-bottom: 2rem;
}

.grid_billede2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
    margin-bottom: 4rem;
    align-items: center;
    gap: 175px;
}

.proces_tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 80px;
}

/* TEMA 3 - UX/UI */
.billeder {
    width: 75%;
}

/* TEMA 4 - ANIMATION */
.mindre_billede {
    object-fit: scale-down;
    width: 75%;
}

/* TEMA 5 - INDHOLD */
.mindre_billede2 {
    width: 98%;
}
}

/* FOOTER */
.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5rem;
    margin-bottom: 3rem;
    gap: 40rem;
    margin-top: 15rem;
}

.footer_menu {
    word-spacing: 30px;
}

/* MOBIL */
@media (max-width: 800px) {

/* TEKST */
h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 50px;
    margin-left: 1rem;
    font-size: 1.5rem;
}

h4 {
    font-size: 2.5rem;
}

h6 {
    margin-left: 1rem;
}

.h4_overskrift, .h4_overskrift2 {
    margin-left: 1rem;
}

a {
    margin: 1rem;
    font-family: 'Almarai', sans-serif;
    color: black;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Almarai', sans-serif;
    color: black;
}

/* FORSIDE */
.grid_2 {
    margin-top: 5rem;
}

.selvportraet1 {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.projekter2 {
    margin-bottom: 3rem;
}

/* OM */
.selvportraet2 {
    width: 60%;
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.h4_overskrift {
    margin-top: 5rem;
}

.grid_billede {
    margin-top: 2rem;
}

/* FOOTER */
h5 {
    font-family: 'PT Mono', monospace;
    font-weight: lighter;
    margin-top: 0.5rem;
    font-size: 1rem;
    margin: 1rem;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 10rem;
    gap: 0rem;
}

.navn {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    margin-left: 80px;
}

.no_underline {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-left: -30px;
}
}
